@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0px;
  font-size: 16px;
  /* margin: 200px 0; */
  /* padding: 100px 0; */
}

body{
  background-color:#E5E5E5;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  /* margin: 30px 0; */
}
section#top_section {
  margin-top: 30px;
}


.title h2 {
  text-transform: capitalize;
}
.title h2 {
  color: #562EFF;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 14px;
}

.players_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  grid-template-columns: reped;
}


.player h2 {
  font-size: 19px;
}

.player img {
  width: 56px;
}

.player {
  display: flex;
  align-items: center;
  gap: 1em;
}
hr{
  border-top: 2px solid gray;
  margin: 20px 0;
}

/* top blog section css hear -
----------------------- */

article.blogs_wrapper {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}
.singel_blog {
  display: flex;
  /* justify-content: space-between; */
}
.l_image img {
  width: 177px;
  height: 117px;
}
 
/* last section css hear  */


#last_s{
  margin-top: 30px;
}
.artical_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* .artical_wrapper {
  display: grid;
} */

.banner_image img {
  width: 224px;
  height: 104;
}

.box_info {
  display: flex;
  justify-content: space-between;
}
